.RevealedSpace {
  height: 50px;
  width: 50px;
  background-color: lightblue;
  border: 2px inset gray;

  display: flex;
  justify-content: end;
  align-items: end;
  color: orangered;
  font-size: 25px;

  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
