.ScorePage {
  background-color: green;
  padding: 10px
}

.ScorePage h2 {
  margin-left: 20px;
}

.new-entry::after {
  content: "";
  width: 0;
  height: 0;
  margin-left: 4px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 6px solid orangered;

}
